= form_for @application do |f|
  .pull-right
    %a#submit.btn{href: 'javascript:;', style: 'display: none;'}
      = t('application.save')

  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :redirect_uri
    = f.text_field :redirect_uri
  .actions
    = f.submit 'Save', id: 'standard-submit'