.center
  %p= t('order.purpose')
.row
  .span4.offset2
    .well{class: (@account ? 'alert-success' : 'alert-danger')}
      .center
        %h4= t('order.user')
        - if @account
          %p
            %a{href: account_path}= @account.get_info('name')
          %p
            %a.btn{href: logout_path}= t('account.relogin')
        - else
          %p= t('order.no_user')
          %p
            %a.btn{href: auth_path}= t('account.login')
  .span4
    .well{class: (@application ? 'alert-success' : 'alert-danger')}
      .center
        %h4= t('order.application')
        - if @application
          %p= @application.name
          %p
            %a.btn{href: @order['omniauth.origin']}= t('order.go_to_client')
        - else
          %p= t('order.no_application')
          %p
            %a.btn{href: @order['omniauth.origin']}= t('order.go_to_admins')
.row
  .span12.center
    - if @application and @account
      %a.btn.btn-success{href: order_accept_path}= t('grant.accept')
      %a.btn.btn-danger{href: order_deny_path}= t('grant.deny')
    - else
      %p= t('order.wrong_conditions')
      %a.btn.btn-danger{href: order_deny_path}= t('order.delete')