.row
  .span4
    = render 'list'
  .span8
    .well
      .pull-right
        %p
          - if @grant.accepted
            / = link_to @application, method: :delete, class: 'btn', data: { confirm: t('deletion_confirm') } do
            %a.btn.btn-swapped.btn-denied-to-accept{href: grant_path(@grant)}
              %span.on-active= t('grant.accepted')
              %span.on-hover= t('grant.deny')
          - else
            %a.btn.btn-swapped.btn-denied-to-accept{href: accept_grant_path(@grant)}
              %span.on-active= t('grant.denied')
              %span.on-hover= t('grant.accept')

      %h3= @grant.application.name

      %p
        = t('grant.expired_at')
        = l @grant.access_token_expires_at, format: :short
