.row
  .span4
    = render 'list'
  .span8
    .well
      .pull-right
        - if @grant.accepted
          %p
            .btn.btn-success
              = t('grant.accepted')
        - else
          %a.btn.btn-success{href: accept_grant_path(@grant), class: (@grant.accepted==true ? 'disabled' : false)}
            = t('grant.accept')
      /   %p
      /     = link_to @application, method: :delete, class: 'btn', data: { confirm: t('deletion_confirm') } do
      /       = t('application.delete')

      %h3= @grant.application.name

      %p
        = t('grant.expired_at')
        = l @grant.access_token_expires_at, format: :short
