.row
  .span4
    = render 'list'
  .span8
    .well
      .pull-right
        %p
          = link_to @grant, method: :delete, class: 'btn btn-swapped btn-accepted-to-deny', style: 'width: 100px;' do
            %span.on-active= t('grant.accepted')
            %span.on-hover= t('grant.deny')

      %h3= @grant.application.name

      %p
        = t('grant.expired_at')
        = l @grant.access_token_expires_at, format: :short
