.pull-right
	%p
		%a.btn{href: account_path}
			= t('account.show')
%h3= t('account.editing')

= form_tag account_update_path, method: :post, multipart: true do

	= text_area_tag :info, @account.info.to_yaml, rows: 20, class: 'input-block-level'

	/ Field for js-editor
	= hidden_field_tag :info_json, @account.info.to_json
	= hidden_field_tag :update_from_json, false
	#jsoneditor

	= submit_tag t('account.update')
